.card {
    background-color: #fff;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.card-header {
    height: 40px;
    width: 100%;
    background-color: red;
    display: flex;
    place-items: center;
}

.card-footer {
    height: 40px;
    width: 100%;
    background-color: red;
    display: flex;
    place-items: center;
}
.fact-text {
    margin: 0px;
    color: black;
    overflow-y: auto;
    flex: 1;
}

.google-sans-fact {
  line-height: 1.6;
  font-size: 1.2rem;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}